{% extends "base.html" %}
{% block mycontent %}
<script>
    $(document).ready(function() {
        $("#stocktakingsNonevidenced").hide();
        $("#stocktakingsUnknown").hide();

        $("#stNonevidenced").click(function() {
            $("#stocktakingsEvidenced").hide();
            $("#stocktakingsUnknown").hide();
            $("#stocktakingsNonevidenced").show();
            $("#stnButton").css('background-color', ' #f8f9fa').css('border', '1px solid gray');
            $("#steButton").css('background-color', 'transparent').css('border', '0px solid black');
            $("#stuButton").css('background-color', 'transparent').css('border', '0px solid black');
        });

        $("#stEvidenced").click(function() {
            $("#stocktakingsEvidenced").show();
            $("#stocktakingsUnknown").hide();
            $("#stocktakingsNonevidenced").hide();
            $("#steButton").css('background-color', ' #f8f9fa').css('border', '1px solid gray');
            $("#stnButton").css('background-color', 'transparent').css('border', '0px solid black');
            $("#stuButton").css('background-color', 'transparent').css('border', '0px solid black');
        });

        $("#stUnknown").click(function() {
            $("#stocktakingsEvidenced").hide();
            $("#stocktakingsUnknown").show();
            $("#stocktakingsNonevidenced").hide();
            $("#stuButton").css('background-color', ' #f8f9fa').css('border', '1px solid gray');
            $("#stnButton").css('background-color', 'transparent').css('border', '0px solid black');
            $("#steButton").css('background-color', 'transparent').css('border', '0px solid black');
        }); 

        $("#check-inv-number").click(function(){
            var inv_number = $("#inv-nbr-finder").val();

            $.ajax({
                url: "details/invresponse",
                type: "get",
                data: {data: inv_number},
                success: function(response) {
                    $("#alert-holder").html(response);
                },
                error: function(xhr) {
                    //Do Something to handle error
                }
                });
        });
    });

    function confirmInvFinish() {
            var prompt = confirm("Czy jesteś pewien?");
            if(prompt == true){
                window.location.href = 'finish';
            } else {}
    }    

    function confirmEvidencedDelete(evid_id) {
            var link = 'evidenced/' + evid_id + '/delete'
            var prompt = confirm("Czy jesteś pewien?");
            if(prompt == true){
                window.location.href = link;
            } else {}
    }      

    function confirmUnknownDelete(unk_id) {
            var link = 'unknown/' + unk_id + '/delete'
            var prompt = confirm("Czy jesteś pewien?");
            if(prompt == true){
                window.location.href = link;
            } else {}
    }       
</script>
    <!-- CONTENT -->
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Inwentaryzacja</h2>
                </div>
                <div class="col header-btn">
                    {%- if stocktaking.finished == false -%}
                    <a type="button" class="btn btn-warning" href="{{ url_for('invent.inv_edit', inv_id=stocktaking.id) }}">Edytuj</a>
                    <a type="button" class="btn btn-danger" onclick="confirmInvFinish()">Zakończ</a>
                    {%- else -%}
                    <a type="button" class="btn btn-info" style="color: white;" href="{{ url_for('invent.inv_document', inv_id=stocktaking.id, doc_type='evidenced') }}">Podsumowanie</a>
                    {%- endif -%}
                </div>
            </div>
            <hr/>
        </div>

        <div class="item-info">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col col-header">
                            <h4>Stan inwentaryzacji:</h3>
                        </div>
                        <div class="col col-item-data">
                            {%- if stocktaking.finished == false -%}
                            <h5 style="color: green;">TRWAJĄCA</h5>
                            {%- else -%}
                            <h5 style="color: red;">ZAKOŃCZONA</h5>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Nr. inwentaryzacji:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ stocktaking.id }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Data rozpoczęcia:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ stocktaking.date_start.strftime('%Y-%m-%d') }}
                        </div>
                    </div>  
                    {%- if stocktaking.finished == True -%}
                    <div class="row">
                        <div class="col col-header">
                            <h4>Data zakończenia:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ stocktaking.date_stop.strftime('%Y-%m-%d') }}
                        </div>
                    </div> 
                    {%- endif -%}
                    <div class="row">
                        <div class="col col-header">
                            <h4>Lokalizacja:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ stocktaking.localization }}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col col-header">
                            <h4>Przew. komisji:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ stocktaking.commissioner }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Członkowie komisji:</h3>
                        </div>
                        <div class="col col-item-data">
                            {%- for member in stocktaking.com_members -%}
                            <div class="row" style="padding-left: 15px;">
                                {{ member }}
                            </div>    
                            {%- endfor -%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Harmonogram:</h3>
                        </div>
                        <div class="col col-item-data">
                            <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_schedule', inv_id=stocktaking.id) }}">Harmonogram</a>
                        </div>
                    </div>                                                                                                    
                </div>
            </div>
        </div>

        <div class="item-list">
            <div class="container">
                <div class="item-list-header">
                    <div class="row">
                        <div class="col">
                            <h4>Spis z natury:</h4>
                        </div>
                        <div class="col header-btn">
                            {%- if stocktaking.finished == false -%}
                                <button type="button" class="btn btn-success btn-custom" data-toggle="modal" data-target="#myModal">Dodaj</a>
                            {% endif %}        
                        </div>
                    </div>
                </div>

                <div class="item-list-header">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <a id="stEvidenced"><div class="col" id="steButton" style="border: 1px solid gray; padding-top: 15px; background-color: #f8f9fa;">
                                    <h4>Spisane</h4>
                                </div></a>
                                {%- if stocktaking.finished == True -%}
                                <a id="stNonevidenced"><div class="col" id="stnButton" style=" padding-top: 15px;">
                                    <h4>Różnice</h4>
                                </div></a>  
                                {%- endif -%}      
                                <a id="stUnknown"><div class="col" id="stuButton" style=" padding-top: 15px;">
                                    <h4>Nieznane</h4>
                                </div></a>      
                            </div>
                            <hr/>
                        </div>
                        <div class="col">
        
                        </div>
                    </div>
                </div>
                <div id="stocktakingsEvidenced">
                    {% if not items_evidenced %}
                    <div class="container" style="text-align: center; font-family: khand;">
                        <i class="fas fa-sad-tear fa-5x"></i>
                        <br /><br />
                        <h4>Brak elementów do wyświetlenia</h4>                
                    </div>     
                    {% else %}
                    <table class="table table-striped">
                        <thead class="thead-custom">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nr. inw.</th>
                                <th scope="col">Lokalizacja</th>
                                <th scope="col">Data dodania</th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in items_evidenced %}
                                <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                    <td><a href="#">{{ item.id }}</a>
                                        <td class="hidden-xs">{{ item.inv_number}}</td>
                                        <td class="hidden-xs">{{ item.localization }}</td>
                                        <td class="hidden-xs">{{ item.add_date.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                                        <td>
                                            <a type="button" class="btn btn-primary btn-custom" href="{{ url_for('items.occurrence_details',occur_id=item.occur_id) }}">Podgląd</a>
                                            <a type="button" class="btn btn-danger btn-custom" onclick="confirmEvidencedDelete('{{item.id}}')">Usuń</a>
                                        </td> 
                                </tr>                                   
                                {% endfor %}                                      
                        </tbody>
                    </table>  
                    {% endif %}
                </div>
                <div id="stocktakingsNonevidenced">
                    {% if not items_nonevidenced %}
                    <div class="container" style="text-align: center; font-family: khand;">
                        <i class="fas fa-sad-tear fa-5x"></i>
                        <br /><br />
                        <h4>Brak elementów do wyświetlenia</h4>                
                    </div>     
                    {% else %}
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <a type="button" class="btn btn-info btn-custom btn-block" href="{{ url_for('invent.inv_document', inv_id=stocktaking.id, doc_type='nonevidenced') }}">Drukuj różnice</a> 
                        </div>
                        <br/><br/>                                                                               
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-custom">
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data rozpoczęcia</th>
                            <th scope="col">Data zakończenia</th>
                            <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in items_nonevidenced %}
                                <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                    <td><a href="#">{{ item.id }}</a>
                                        <td class="hidden-xs">{{ item.inv_number}}</td>
                                        <td class="hidden-xs">{{ item.localization }}</td>
                                        <td class="hidden-xs">{{ item.add_date.strftime('%d-%m-%Y %H:%M:%S')}}</td>
                                        <td>
                                            <a type="button" class="btn btn-primary btn-custom" href="{{ url_for('items.occurrence_details',occur_id=item.id) }}">Podgląd</a>
                                        </td> 
                                </tr>
                                {% endfor %}                                  
                        </tbody>
                    </table>  
                    {% endif %}
                </div>                 
                <div id="stocktakingsUnknown">
                    {% if items_unknown.first() == None %}
                    <div class="container" style="text-align: center; font-family: khand;">
                        <i class="fas fa-sad-tear fa-5x"></i>
                        <br /><br />
                        <h4>Brak elementów do wyświetlenia</h4>                
                    </div>     
                    {% else %}
                        {% if stocktaking.finished == True %}
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <a type="button" class="btn btn-info btn-custom btn-block" href="{{ url_for('invent.inv_document', inv_id=stocktaking.id, doc_type='unknown') }}">Drukuj nieznane</a> 
                            </div>
                            <br/><br/>                                                                               
                        </div>  
                        {% endif %}                  
                    <table class="table table-striped">
                        <thead class="thead-custom">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nr. inw.</th>
                                <th scope="col">Lokalizacja</th>
                                <th scope="col">Data dodania</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for unk in items_unknown %}
                                <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                    <td><a href="#">{{ unk.id }}</a>
                                        <td class="hidden-xs">{{ unk.inv_number}}</td>
                                        <td class="hidden-xs">{{ unk.localization }}</td>
                                        <td class="hidden-xs">{{ unk.add_date.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                                        <td class="hidden-xs">{{ unk.description }}</td>
                                        <td>
                                            <a type="button" class="btn btn-danger btn-custom" onclick="confirmUnknownDelete('{{unk.id}}')">Usuń</a>
                                        </td> 
                                </tr>                                   
                                {% endfor %}                                  
                        </tbody>
                    </table>  
                    {% endif %}
                </div> 

            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Dodaj do spisu</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col-md-10">
                            <form method="POST" action="">
                                <div class="form-group">
                                    <label>Numer inwentarzowy</label>
                                    <input class="form-control" id="inv-nbr-finder" type="text" placeholder="Nr. inwentarzowy" required>
                                </div>
                                <button type="button" class="btn btn-success" id="check-inv-number">Wprowadź</button>
                            </form>
                            <div class="container" id="alert-holder">
                                
                            </div>                          
                        </div>
                        <div class="col">
                            
                        </div>                                                
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->  
    </div>
{% endblock %}