{%- extends "base.html" -%}
{%- block mycontent -%}
<script>
    var d = new Date();
    var month = parseInt(d.getMonth()+1,10);
    var year = parseInt(d.getFullYear(),10);
    var months = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień']

    $(document).ready(function() {   
        
        $(".Site-content").css('background-image','url("/static/img/invent-bcg.png")');

        $.ajax({
            url: "schedule/calendar",
            type: "get",
            data: {y: year, m:month},
            success: function(response) {
                $("#current_month_name").text(months[month-1]);
                $("#ajaxCalendar").html(response);
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });  
    });  

    var flag = 1;
    var tempYear = 0;
    var tempMonth = 0;

    function prevMonth(){

        if(flag == 1){
            tempYear = year;
            tempMonth = month;
            flag = 0;
        } 

        if(tempMonth > 1){
            tempMonth -=1;
        } else {
            tempYear -=1;
            tempMonth = 12;
        } 

        $.ajax({
            url: "schedule/calendar",
            type: "get",
            data: {y: tempYear, m:tempMonth},
            success: function(response) {
                $("#current_month_name").text(months[tempMonth-1]);
                $("#ajaxCalendar").html(response);
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    }

    function nextMonth(){

        if(flag == 1){
            tempYear = year;
            tempMonth = month;
            flag = 0;
        } else {

        }

        if(tempMonth < 12){
                tempMonth +=1;
        } else {
            tempYear +=1;
            tempMonth = 1;
        } 

        $.ajax({
            url: "schedule/calendar",
            type: "get",
            data: {y: tempYear, m:tempMonth},
            success: function(response) {
                $("#current_month_name").text(months[tempMonth-1]);
                $("#ajaxCalendar").html(response);
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    }  
</script>
<div class="item-list">
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Harmonogram:</h3>
                </div>
                <div class="col header-btn">

                </div>
            </div>
        </div>
        <div class="item-list-header">
            <div class="row">
                <div class="col">
                    <h4>Do wykonania:</h4>
                    <hr/>
                </div>
                <div class="col">
                    {% if current_user.role != 4 %}
                    <div class="col header-btn">
                        <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_add',inv_id=inv_id) }}">Dodaj</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="tasksPending">
            {% if tasks_pending.first() == None %}
            <div class="container" style="text-align: center; font-family: khand;">
                <i class="fas fa-sad-tear fa-5x"></i>
                <br /><br />
                <h4>Brak elementów do wyświetlenia</h4>                
            </div>     
            {% else %}
            <table class="table table-striped">
                <thead class="thead-custom">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Zadanie</th>
                    <th scope="col">Przewidywana data rozpoczęcia</th>
                    <th scope="col">Przewidywana data zakończenia</th>
                    {% if current_user.role != 4 %}
                    <th scope="col">Akcje</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                        {% for task in tasks_pending %}
                        <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                            <td><a href="#">{{ task.id }}</a>
                            <td class="hidden-xs">
                                <div class="overme-task">
                                    {{ task.task }}
                                </div>
                            </td>
                            <td class="hidden-xs">{{ task.date_start.strftime('%Y-%m-%d') }}</td>
                            <td class="hidden-xs">{{ task.date_exp_end.strftime('%Y-%m-%d') }}</td>
                            {% if current_user.role != 4 %}
                            <td>
                                <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_finish', inv_id=task.inv_id, task_id=task.id) }}">Wykonaj</a>
                                <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_edit', inv_id=task.inv_id, task_id=task.id) }}">Edytuj</a>
                                <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_delete', inv_id=task.inv_id, task_id=task.id) }}">Usuń</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}                                 
                </tbody>
            </table>
            {% endif %}
        </div>
        <div id="tasksEnded">
            <div class="item-list-header">
                <div class="row">
                    <div class="col">
                        <h4>Wykonane:</h4>
                        <hr/>
                    </div>
                    <div class="col">
    
                    </div>
                </div>
            </div>
            {% if tasks_ended.first() == None %}
            <div class="container" style="text-align: center; font-family: khand;">
                <i class="fas fa-sad-tear fa-5x"></i>
                <br /><br />
                <h4>Brak elementów do wyświetlenia</h4>                
            </div>     
            {% else %}
            <table class="table table-striped">
                <thead class="thead-custom">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Zadanie</th>
                    <th scope="col">Przewidywana data rozpoczęcia</th>
                    <th scope="col">Data zakończenia</th>
                    {% if current_user.role != 4 %}
                    <th scope="col">Akcje</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                        {% for task in tasks_ended %}
                        <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                            <td><a href="#">{{ task.id }}</a>
                            <td class="hidden-xs">
                                <div class="overme-task">
                                    {{ task.task }}
                                </div>
                            </td>
                            <td class="hidden-xs">{{ task.date_start.strftime('%Y-%m-%d') }}</td>
                            <td class="hidden-xs">{{ task.date_end.strftime('%Y-%m-%d') }}</td>
                            {% if current_user.role != 4 %}
                            <td>
                                <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_retrieve', inv_id=task.inv_id, task_id=task.id) }}">Przywróć</a>
                                <a type="button" class="btn btn-success btn-custom" href="{{ url_for('invent.inv_task_delete', inv_id=task.inv_id, task_id=task.id) }}">Usuń</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}                                  
                </tbody>
            </table> 
            {% endif %} 
        </div>  
        <div id="tasksCalendar">
            <div class="item-list-header">
                <div class="row">
                    <div class="col">
                        <h4>Kalendarz:</h4>
                        <hr/>
                    </div>
                    <div class="col">
        
                    </div>
                </div>
            </div>
            <div id="container-test" class="item-list-header">
                <div class="row">
                    <div class="col">
                        <input type="button" class="btn btn-success" value="&lt;" onclick="prevMonth()" title="Previous month" />
                        <input type="button" class="btn btn-success" value="&gt;" onclick="nextMonth()" title="Next month" />
                    </div>
                    <div class="col" style="text-align: right;">
                        <h4 id="current_month_name"></h4>                        
                    </div>                    
                </div>
                <div id="ajaxCalendar">
                    <!-- MIEJSCE NA KALENDARZ -->
                </div>
            </div>    
        </div>    
        <div id="csvExport">
            <div class="item-list-header">
                <div class="row">
                    <div class="col">
                        <h4>Drukuj/Eksportuj do .csv:</h4>
                        <hr/>
                    </div>
                    <div class="col">
    
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a type="button" class="btn btn-success btn-block btn-custom" href="{{ url_for('invent.inv_document', inv_id=inv_id, doc_type='schedule') }}">Drukuj</a>
                    </div>
                    <div class="col-md-4">
                        <a type="button" class="btn btn-success btn-block btn-custom" href="{{ url_for('invent.inv_csv_generator', inv_id=inv_id) }}">Eksport do .csv</a>
                    </div>
                    <div class="col">

                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock -%}