{%- extends "base.html" -%}
{%- block mycontent -%}
<script>
    $(document).ready(function() {

    $(".Site-content").css('background-image','url("/static/img/invent-bcg.png")');

    var nav = 0
    var len = 0
    $("#scheduler").hide();
    $("#eventsList").hide();
    $("#noEvents").hide();
    $("#itemsScanning").hide();
    $("#prevStep").hide();
    $("#addNewField").click(function() {
        len += 1;
        clone = $('#addComMember').clone()

        clone.find(':input').each(function (idx, ele) {
        ele.name = ele.name + len;
        ele.id = ele.id + len;
        ele.value = '';

    }).end().find('.form-group').toggle(true).end()
            .appendTo('#flist_members').slideDown('slow');   

        clone.find('.surname').append('<div class="col-md-1"><button type="button" class="close" id="delMember">&times;</button></div>')

        $("#flist_members").on('click', '.close', function(e) {
            e.preventDefault();
            $(this).parent().parent().parent().parent().parent().remove();
            });             
        });

    $("#nextStep").click(function() {
        if(nav == 0) {
            $("#prevStep").show();
            $("#comMembers").css('color', 'black');
            $("#schedule").css('color', 'green');
            $("#commissionMembers").hide();
            $("#scheduler").show();
            $("#noEvents").appendTo('#events').show();
            $("#nextStep").attr('type','button');
            nav += 1
        } else if (nav == 1) {
            $("#prevStep").show();
            $("#nextStep").html('Rozpocznij Inwentaryzację');
            $("#nextStep").attr('type','button');
            $("#schedule").css('color', 'black');
            $("#scanner").css('color', 'green');
            $("#itemsScanning").show()
            $("#scheduler").hide();
            nav += 1
        } else {
            $("#nextStep").attr('type','submit');
        }
    });

    $("#prevStep").click(function() {
        if(nav == 1) {
            $("#prevStep").hide();
            $("#comMembers").css('color', 'green');
            $("#schedule").css('color', 'black');
            $("#scheduler").hide();
            $("#commissionMembers").show().fadeIn(800);;
            nav -= 1
        } else if (nav == 2){
            $("#nextStep").html('Następny krok <i class="fas fa-chevron-right"></i>');
            $("#scanner").css('color', 'black');  
            $("#schedule").css('color', 'green');  
            $("#itemsScanning").hide(); 
            $("#scheduler").show();    
            nav -= 1 
        }
    });    

    $("#addNewEvent").click(function() {
        $("#noEvents").hide();
        $("#noEvents").replaceWith($("#eventsList"));
        $("#eventsList").show();
    });

    $("#addNextEvent").click(function() {
        $('#newEvent').clone().find(':input').each(function (idx, ele) {
        ele.name = ele.name;
        ele.id = ele.id;
        ele.value = '';
    }).end().find('.form-group').toggle(true).end()
            .appendTo('#flist_schedule').slideDown('slow');
            len += 1;    
        });    

});
function validateForm() {
    var ar=[];
    $(".inv-creator-input").each(function () {
        if($(this).val()==""){
            $(this).css('border','1px red solid');
            ar.push($(this).attr('name'));
        } else {
            $(this).css("border", "");
        }
    });
    if(ar.length!=0){
            alert('Występują nieuzupełnione pola! Przejrzyj wszystkie stopnie formularza i spróbuj ponownie!')
            return false;
        } else {
            return true;
    }
}
</script>

<br/>
<div class="col-md-12" style="display: inline-block; width: 100%; text-align: center;">
    <h2 class="content-header">Kreator inwentaryzacji</h2>
</div>

<br/><br/>

<!-- STEPPER -->
<div class="row">
    <div class="col">

    </div>
    <div class="col-md-1">
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center;">
                <i id="comMembers" class="fas fa-users fa-5x" style="color: green;"></i>
            </div>    
        </div>
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center; font-family: khand;">
                Skład komisji            
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div style="display: inline-block; width: 100%; text-align: center;">
            <i class="fas fa-chevron-right fa-3x"></i>
        </div>    
    </div>
    <div class="col-md-1">
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center;">
                <i id="schedule" class="far fa-calendar-alt fa-5x"></i>
            </div>    
        </div>
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center; font-family: khand;">
                Harmonogram          
            </div>
        </div> 
    </div>
    <div class="col-md-3">
        <div style="display: inline-block; width: 100%; text-align: center;">
            <i class="fas fa-chevron-right fa-3x"></i>
        </div>
    </div>    
    <div class="col-md-1">
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center;">
                <i id="scanner" class="fas fa-barcode fa-5x"></i>              
            </div>
        </div>
        <div class="row">
            <div style="display: inline-block; width: 100%; text-align: center; font-family: khand;">
                Spis    
            </div>
        </div> 
    </div> 
    <div class="col">

    </div>    
</div>
<hr/>

<!-- CONTENT -->
<div class="container" id="mainContent">
    <form name="create_inv" method="POST" onsubmit="return validateForm()">
        <div class="row" id="dynamicContent">
            <!-- SKLAD KOMISJI-->
            <div class="container" id="commissionMembers">
                <h4>Skład komisji</h4> 
                <p style="color: green;">W tym oknie utworzysz listę członków komisji inwentaryzacyjnej</p>
                <br/>
                <h5>Przewodniczący komisji:</h5>
                    <div class="row" id="addComMember">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Imię</label>
                                        <input type="text" class="form-control inv-creator-input" name="memberName" id="memberName" aria-describedby="emailHelp" placeholder="Imię">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Nazwisko</label>
                                        <div class="row surname">
                                            <div class="col-md-11">
                                                <input type="text" class="form-control inv-creator-input" name="memberSurname" id="memberSurname" aria-describedby="emailHelp" placeholder="Nazwisko">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                        </div>            
                    </div>
                    <br/>
                    <h5>Członkowie:</h5>
                    <button type="button" class="btn btn-success btn-custom" id="addNewField">Dodaj</button> 
                    <div class="container" id="flist_members">

                    </div>
            </div>
            <!-- HARMONOGRAM -->
            <div class="container" id="scheduler">
                <h4>Harmonogram</h4> 
                <p style="color: green;">W tym miejscu możesz utworzyć harmonogram inwentaryzacji poprzez dodanie zaplanowanych działań</p>
                <br/>
                <div class="container" id="events">

                </div>
            </div>
            <!-- SPIS -->
            <div class="container" id="itemsScanning">
                <h4>Spis z natury</h4> 
                <p style="color: green;">Po dodaniu członków komisji oraz opracowaniu harmonogramu działań możesz rozpocząć spis z natury.</p>
                <div class="row">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Imię</label>
                        <input type="text" class="form-control inv-creator-input" name="invLocalization" id="invLocalization" aria-describedby="emailHelp" placeholder="Lokalizacja">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Imię</label>
                        <input type="text" class="form-control inv-creator-input" name="invMpk" id="invMpk" aria-describedby="emailHelp" placeholder="MPK">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="buttons-row">
            <div class="col-md-6" id="nav-1">
                <a type="button" class="btn btn-success" id="prevStep"><i class="fas fa-chevron-left"></i> Poprzedni krok</a>
            </div>
            <div class="col-md-6" id="nav-2" style="display: inline-block; width: 100%; text-align: right;">
                <button type="button" class="btn btn-success" id="nextStep">Następny krok <i class="fas fa-chevron-right"></i></a>   
            </div>
        </div>
    </form>
</div>

<div class="container" id="noEvents">
    <div class="col">
        <div class="row" style="display: inline-block; width: 100%; text-align: center; color: green;">
            <i class="fas fa-calendar-times fa-9x"></i>
        </div>
        <br/><br/>
        <div class="row" style="display: inline-block; width: 100%; text-align: center; color: green;">
            Brak zaplanowanych zadań
        </div>
    </div>
    <br/>
    <div style="display: inline-block; width: 100%; text-align: center;">
        <button type="button" class="btn btn-success btn-custom" id="addNewEvent">Dodaj wydarzenie</button> 
    </div>    
</div>

<div class="container" id="eventsList">
    <h5>Lista zadań:</h5>  
        <div class="row" id="newEvent">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date'>
                            <input type="text" class="form-control inv-creator-input" name="eventTask" id="eventTask" placeholder="Zadanie"/>
                            <input type='date' class="form-control inv-creator-input" name="eventStartDate" id="eventStartDate"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input type='date' class="form-control" name="eventEndDate" id="eventEndDate"/>
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>                            
                        </div>
                    </div>
                </div>
        </div>       
    <div class="container" id="flist_schedule">
                        
    </div>
    <div class="row">
        <div style="display: inline-block; width: 100%; text-align: center;">
            <button type="button" class="btn btn-success btn-custom" id="addNextEvent">Dodaj następne</button> 
        </div>           
    </div>
</div>
{%- endblock -%}  
