{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block mycontent %}
<script>
    $(document).ready(function() {
        $(".Site-content").css('background-image','url("/static/img/items-bcg.png")');
        $("#invNbrGenerator").click(function() {
            $('#index_nbr').val('{{ generated_value }}');
            $("#index_nbr").prop("readonly", true);
            $("#invNbrGenerator").prop("disabled",true);
        });
    });
</script>
<div class='col-header' style='width: 50%;'>
    {% if edit == 0 %}
    <h2>Dodaj przedmiot</h2>
    {% else %}
    <h2>Edytuj przedmiot</h2>
    {% endif %}
    <form action="" method="post">
        {{ form.csrf_token }} 
        <div class="form-group">
            <label for="formGroupExampleInput">Nazwa</label>
            <p>{{ form.name}}</p>
        </div>        
        <div class="form-group">
            <label for="formGroupExampleInput">Nr. inwentarzowy</label>
            <div class="row">
                <div class="col">
                    <p id="indexManual">{{ form.index_nbr }}</p>
                </div>
                {% if edit == 0 %}
                <div class="col-md-2">
                    <button type="button" id="invNbrGenerator" class="btn btn-success">Generuj</button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Opis</label>
            <p>{{ form.description }}</p>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}