{% extends "base.html" %}
{% block mycontent %}
    <!-- CONTENT -->
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Lista przedmiotów:</h3>
                </div>
                <div class="col header-btn">
                    <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.add') }}">Dodaj</a>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-custom">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nr. inw.</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Akcje</th>
              </tr>
            </thead>
            <tbody>
                    {% for item in items %}
                    <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                        <td><a href="#">{{ item.id }}</a>
                        <td class="hidden-xs">{{ item.name}}</td>
                        <td class="hidden-xs">{{ item.inv_number}}</td>
                        <td class="hidden-xs">{{ item.description}}</td>
                        <td>
                            <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.details',item_id=item.id) }}">Podgląd</a>
                            <a type="button" class="btn btn-warning btn-custom" href="{{ url_for('items.edit',item_id=item.id) }}">Edytuj</a>
                            <a type="button" class="btn btn-danger btn-custom" href="{{ url_for('items.delete',item_id=item.id,next=request.full_path) }}">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}                 
            </tbody>
          </table>
    </div>
{% endblock %}