{% extends "base.html" %}
{% block mycontent %}
    <!-- CONTENT -->
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Przedmiot</h2>
                </div>
                <div class="col header-btn">
                    <button type="button" class="btn btn-warning">Edytuj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>
                </div>
            </div>
            <hr/>
        </div>

        <div class="item-info" style="height: 30%;">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col col-header">
                            <h4>Nazwa:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ item.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Indeks:</h3>
                        </div>
                        <div class="col col-item-data">
                            <div class="row">
                                <div class="col">
                                    {{ item.index_nbr }}
                                </div>
                                <div class="col">
                                    <a type="button" class="btn btn-info btn-custom">Kod QR</a>
                                    <a type="button" class="btn btn-info btn-custom">Kod kreskowy</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Ilość:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ item.count_occurrences() }}
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>

        <div class="item-list">
            <div class="container">
                <div class="item-list-header">
                    <div class="row">
                        <div class="col">
                            <h4>Lista wystąpień:</h4>
                        </div>
                        <div class="col header-btn">
                            <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.add_occurrence', item_id=item.id) }}">Dodaj</a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead class="thead-custom">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nr. inw.</th>
                          <th scope="col">Lokalizacja</th>
                          <th scope="col">Data dodania</th>
                          <th scope="col">Akcje</th>
                        </tr>
                      </thead>
                      <tbody>
                              {% for occurrence in occurrences %}
                              <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                  <td><a href="#">{{ occurrence.id }}</a>
                                  <td class="hidden-xs">{{ occurrence.inv_number}}</td>
                                  <td class="hidden-xs">{{ occurrence.localization }}</td>
                                  <td class="hidden-xs">{{ occurrence.add_date}}</td>
                                  <td>
                                      <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.occurrence_details',occur_id=occurrence.id) }}">Podgląd</a>
                                      <a type="button" class="btn btn-warning btn-custom" href="{{ url_for('items.edit_occurrence',occur_id=occurrence.id) }}">Edytuj</a>
                                      <a type="button" class="btn btn-danger btn-custom" href="{{ url_for('items.delete',item_id=occurrence.id,next=request.full_path) }}">Usuń</a>
                                  </td>
                              </tr>
                              {% endfor %}                 
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}