{% extends "base.html" %}
{% block mycontent %}
    <script>
    function confirmDeleteItem() {
        var prompt = confirm("Czy jesteś pewien?");
        if(prompt == true){
            window.location.href = 'delete';
        } else {}
    }

    function confirmDeleteOccur(item_id) {
        var link = '../occurrence/' + item_id + '/delete';
        var prompt = confirm("Czy jesteś pewien?");
        if(prompt == true){
            window.location.href = link;
        } else {}
    }

    $(document).ready(function(){
        $(".Site-content").css('background-image','url("/static/img/items-bcg.png")');
        $('.table').dataTable();
    });

    </script>
    <!-- CONTENT -->
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Przedmiot</h2>
                </div>
                <div class="col header-btn">
                    <a type="button" class="btn btn-warning btn-custom" href="{{ url_for('items.edit', item_id=item.id) }}">Edytuj</a>
                    <a type="button" class="btn btn-danger btn-custom" onclick="confirmDeleteItem()">Usuń</a>
                </div>
            </div>
            <hr/>
        </div>

        <div class="item-info">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col col-header">
                            <h4>Nazwa:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ item.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Indeks:</h3>
                        </div>
                        <div class="col col-item-data">
                            <div class="row">
                                <div class="col">
                                    {{ item.index_nbr }}
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-header">
                            <h4>Ilość:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ item.count_occurrences() }}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col col-header">
                            <h4>Opis:</h3>
                        </div>
                        <div class="col col-item-data">
                            {{ item.description }}
                        </div>
                    </div>                                      
                </div>
            </div>
        </div>

        <div class="item-list">
            <div class="container">
                <div class="item-list-header">
                    <div class="row">
                        <div class="col">
                            <h4>Lista wystąpień:</h4>
                        </div>
                        <div class="col header-btn">
                            <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.add_occurrence', item_id=item.id) }}">Dodaj</a>
                        </div>
                    </div>
                </div>
                <hr/>
                <table class="table table-striped">
                    <thead class="thead-custom">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nr. inw.</th>
                          <th scope="col">Lokalizacja</th>
                          <th scope="col">Data dodania</th>
                          <th scope="col">Akcje</th>
                        </tr>
                      </thead>
                      <tbody>
                              {% for occurrence in occurrences %}
                              <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                  <td><a href="#">{{ loop.index }}</a>
                                  <td class="hidden-xs">{{ occurrence.inv_number}}</td>
                                  <td class="hidden-xs">{{ occurrence.localization }}</td>
                                  <td class="hidden-xs">{{ occurrence.add_date.strftime("%d-%m-%Y %H:%M:%S") }}</td>
                                  <td>
                                      <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.occurrence_details',occur_id=occurrence.id) }}">Podgląd</a>
                                      <a type="button" class="btn btn-warning btn-custom" href="{{ url_for('items.edit_occurrence',occur_id=occurrence.id) }}">Edytuj</a>
                                      <a type="button" class="btn btn-danger btn-custom" onclick="confirmDeleteOccur('{{ occurrence.id }}')">Usuń</a>
                                  </td>
                              </tr>
                              {% endfor %}                 
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}