{% extends "base.html" %}
{% block mycontent %}
    <script>
    function confirmDelete(item_id) {
        var link = item_id + '/delete';
        var prompt = confirm("Czy jesteś pewien?");
        if(prompt == true){
            window.location.href = link;
        } else {}
    }

    $(document).ready(function(){
        $(".Site-content").css('background-image','url("/static/img/items-bcg.png")');
        $('.table').dataTable();
    });
    </script>
    <!-- CONTENT -->
    <div class="container">
        <div class="content-header">
            <div class="row">
                <div class="col">
                    <h2>Lista przedmiotów:</h3>
                </div>
                <div class="col header-btn">
                    <a type="button" class="btn btn-success btn-custom" href="{{ url_for('items.add') }}">Dodaj</a>
                </div>
            </div>
        </div>
        <hr/>
        <table class="table table-striped">
            <thead class="thead-custom">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nr. inw.</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Akcje</th>
              </tr>
            </thead>
            <tbody>
                    {% for item in items %}
                        {% if item.id != 1 %}
                            <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                <td><a id="" href="#">{{ loop.index }}</a>
                                <td class="hidden-xs">{{ item.index_nbr}}</td>
                                <td class="hidden-xs">{{ item.name}}</td>
                                <td class="hidden-xs">{{ item.count_occurrences()}}</td>
                                <td>
                                    <a type="button" class="btn btn-success btn-custom"  href="{{ url_for('items.details',item_id=item.id) }}">Podgląd</a>
                                    <a type="button" class="btn btn-warning btn-custom" href="{{ url_for('items.edit',item_id=item.id) }}">Edytuj</a>
                                    <a type="button" class="btn btn-danger btn-custom" onclick="confirmDelete('{{item.id}}')">Usuń</a>
                                </td>
                            </tr>
                        {% endif %}    
                    {% endfor %}                 
            </tbody>
          </table>
    </div>
{% endblock %}