{% extends "base.html" %}
{% block content %}
    <!-- CONTENT -->
    <div class="container">
        <ul class="square-menu">
            <li>
                <a href="itemlist.html">
                    <div class="container menu-item">
                        <div class="row row-up">
                            <div class="col-sm-6" style="border: 1px red;">
                                <i class="fas fa-search fa-3x "></i>
                            </div>
                            <div class="col-sm-6" style="border: 1px blue;">
                                
                            </div>                            
                        </div>
                        <div class="row row-down">
                            <div class="col-sm-12" style="border: 1px green;">
                                Szukaj
                            </div>   
                        </div>                         
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="container menu-item">
                        <div class="row row-up">
                            <div class="col-sm-6" style="border: 1px red;">
                                <i class="fas fa-print fa-3x "></i>
                            </div>
                            <div class="col-sm-6" style="border: 1px blue;">
                                
                            </div>                            
                        </div>
                        <div class="row row-down">
                            <div class="col-sm-12" style="border: 1px green;">
                                Drukuj
                            </div>   
                        </div>                         
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ url_for('invent.creator') }}">
                    <div class="container menu-item">
                        <div class="row row-up">
                            <div class="col-sm-6" style="border: 1px red;">
                                <i class="fas fa-copy fa-3x "></i>
                            </div>
                            <div class="col-sm-6" style="border: 1px blue;">
                                
                            </div>                            
                        </div>
                        <div class="row row-down">
                            <div class="col-sm-12" style="border: 1px green;">
                                Inwentaryzacja
                            </div>   
                        </div>                         
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="container menu-item">
                        <div class="row row-up">
                            <div class="col-sm-6" style="border: 1px red;">
                                <i class="fas fa-cogs fa-3x "></i>
                            </div>
                            <div class="col-sm-6" style="border: 1px blue;">
                                
                            </div>                            
                        </div>
                        <div class="row row-down">
                            <div class="col-sm-12" style="border: 1px green;">
                                Ustawienia
                            </div>   
                        </div>                         
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}