@font-face {
    font-family: righteous;
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: squada;
    src: url(SquadaOne-Regular.ttf);
}

@font-face {
    font-family: khand;
    src: url(../fonts/Khand-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
}

.Site {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.Site-content {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panel.panel-inverse {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 1rem;
}


a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: green !important;
}

a:active {
    color: green;
}

.invohelper_logo {
    font-family: righteous;
    font-size: 48px;
    color: black;
}

.bg {
    /* The image used */
    background-image: url("/static/img/boxes.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hr-navbar {
    position: absolute;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 0;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center 
}

.messages-top {
    position: relative;
    margin-bottom: 180px !important;
    font-family: righteous;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    flex-shrink: 0;
}
  
.content {
    position: relative;
    width: 100%;

    z-index: 10;
    height: 75%;
    max-height: 1340px;
    overflow-y: scroll;  
}

.menu-content {
    margin-left: 100px;
}

ul.square-menu {
    
    list-style-type: none;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 40px auto;
}
    
ul.square-menu li{
    float: left;
    margin:20px;	
}
    
ul.square-menu li .menu-item { 
    text-decoration: none;
    background:rgba(0, 153, 76);
    color: white;
    outline: 4px solid rgba(0, 153, 76);
    border: 1px solid white;
    font-family: khand;
    font-weight: normal;
    font-size: 150%;
    text-align: right;
    width: 225px;
    height: 225px;
    padding-top: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

ul.square-menu li .docs-menu-item { 
    text-decoration: none;
    background:rgba(0, 153, 76);
    color: white;
    outline: 4px solid rgba(0, 153, 76);
    border: 1px solid white;
    font-family: khand;
    font-weight: normal;
    font-size: 125%;
    text-align: right;
    width: 195px;
    height: 195px;
    padding-top: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

ul.square-menu li .menu-item:hover {
    text-decoration: none !important;
    background: rgba(0, 153, 76);
    outline: 4px solid rgba(0, 153, 76);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
}

ul.square-menu li .docs-menu-item:hover {
    text-decoration: none !important;
    background: rgba(0, 153, 76);
    outline: 4px solid rgba(0, 153, 76);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.12);
}

.row-up {
    height: 80%;
}

.row-down {
    height: 20%;
}

.content-header {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: khand;
}

.header-btn {
    text-align: right;
}

.thead-custom {
    font-family: khand;
}

.col-header{
    margin-top: 15px;
    font-family: khand;
}

.col-item-data {
    margin-top: 15px;
}

h4 {
    margin-top: 15px;
}

.item-info {
    padding-left: 30px;
}

.item-list-header {
    margin-bottom: 10px;
    font-family: khand;
}

img {
    object-fit: fill;
  }

.item-list {
    margin-top: 40px;
    margin-bottom: 10px;
}

a.btn-custom {
    font-family: khand;
    color: white;
}

.btn-custom {
    font-family: khand;
    color: white;
}

a.btn-attachment {
    font-family: khand;
    color: black;
}

.txt-overflow {
    width: 150px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    color:black;
}