{%- extends "base.html" -%}
{%- block mycontent -%}
<script>

$(document).ready(function(){
    $(".Site-content").css('background-image','url("/static/img/user-bcg.png")');
    $('.table').dataTable();
});

</script>
<div class="container">
    <div class="content-header">
        <div class="row">
            <div class="col">
                <h2>Lista użytkowników:</h3>
            </div>
            <div class="col header-btn">
                {% if current_user.role == 1 %}
                    <a type="button" class="btn btn-success btn-custom" href="{{ url_for('user.register') }}">Dodaj</a>
                {% endif %}    
            </div>
        </div>
    </div>
    <hr/>
    <div id="stocktakingsPending">
        <table class="table table-striped">
            <thead class="thead-custom">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Login</th>
                <th scope="col">Rola</th>
                <th scope="col">Inwentaryzacje</th>
                <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                    {% for user in users %}
                        {% if user.role != 1 %}
                            <tr class="animated fadeInLeft delay-{{ loop.index0 }}">
                                <td><a href="#">{{ loop.index - 1}}</a>
                                <td class="hidden-xs">{{ user.login }}</td>
                                {% if user.role == 2 %}
                                    <td class="hidden-xs">Czł. komisji</td>
                                {% elif user.role == 3 %}    
                                    <td class="hidden-xs">Skaner</td>
                                {% elif user.role == 4 %}    
                                    <td class="hidden-xs">JST</td>    
                                {% endif %}
                                {% if user.role == 4 %}
                                    <td class="hidden-xs">Wszystkie</td>
                                {% else %}
                                    <td class="hidden-xs">{{ user.stocktakings }}</td>
                                {% endif %}
                                <td>
                                    <a type="button" class="btn btn-success btn-custom" href="{{ url_for('user.user_edit',user_id=user.id)}}">Edytuj</a>
                                    <a type="button" class="btn btn-success btn-custom" href="{{ url_for('user.user_delete',user_id=user.id)}}">Usuń</a>
                                </td>
                            </tr>
                        {% endif %}    
                    {% endfor %}                                 
            </tbody>
        </table>
    </div>   
</div>
{%- endblock -%}