
{%- from 'bootstrap/utils.html' import flashed_messages,icon -%}
{%- block metas -%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{%- endblock metas -%}
{%- block styles -%}
    {#    {{ super() }}#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    {%- endblock -%}


    <!-- NAVBAR -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if current_user.role == 1 %}
          <a href="{{ url_for('user.user_admin') }}"><span class="invohelper_logo">INV<span style="color: green;">O</span>helper</span></a>
        {% elif current_user.role == 2 %}
          <a href="{{ url_for('user.user_commember') }}"><span class="invohelper_logo">INV<span style="color: green;">O</span>helper</span></a>
        {% else %}
          <span class="invohelper_logo" href="#">INV<span style="color: green;">O</span>helper</span>    
        {% endif %}   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 3rem;">
          {% if current_user.role == 1 %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('items.index') }}">Spis przedmiotów<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('invent.inv_list') }}">Inwentaryzacje</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('user.user_list') }}">Użytkownicy</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Dokumenty</a>
            </li>
          </ul>
          {% elif current_user.role == 2 %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('items.index') }}">Spis przedmiotów<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('invent.inv_list') }}">Inwentaryzacje</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Dokumenty</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav mr-auto">

          </ul>
          {% endif %}

          <span class="navbar-text" style="margin-right:">
            <a href="{{ url_for('user.details') }}">{{ current_user.login }}</a><a href="{{ url_for('user.logout') }}"> (Wyloguj)</a>
          </span>
        </div>
      </nav>
      <hr class="hr-navbar"/>
    </div>
    {% endblock %}

    <!-- CONTENT -->
    {%- block content -%}
    <main class="container-fluid Site-content">
        <div class="container" class="messages-top" id="update-div">
            {%- with icon_transform={
                'success':icon('ok'),
                'danger':icon('ban-circle'),
                'info': icon('info-sign'),
                'warning': icon('alert')} -%}
                {%- set messages=get_flashed_messages(with_categories=True) -%}
                {%- if messages -%}
                    {%- for cat, msg in messages -%}
                        <div class="alert alert-{{ cat }} alert-dismissible animated bounceIn delay-{{ loop.index0 }}"
                            role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ icon_transform.get(cat) ~' '~ msg }}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            {%- endwith -%}
        </div>    
        {%- block mycontent -%}{%- endblock -%}
    </main>


    <footer class="panel panel-inverse">
      <div id="site-footer-content">
          <span class="line-wrap">INVOhelper &copy; 2020</span>
      </div>
    </footer>
    {%- endblock -%}